<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.lj.navpush" version="1.0.2" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>NavPush</name>
    <js-module name="NavPush" src="www/NavPush.js">
        <clobbers target="cordova.plugins.NavPush" />
    </js-module>
    
    
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="NavPush">
                <param name="ios-package" value="NavPush" />
            </feature>
        </config-file>
        <header-file src="src/ios/NavPush.h" />
        <source-file src="src/ios/NavPush.m" />
    </platform>
    
</plugin>
